/* CAUTION : This file is exported to style.css */

.div-center-whole-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-photographer-html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-header {
  display: flex;
  justify-content: flex-start;
}

.logo-photographer {
  height: 50px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact-button,
.submit-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.submit-button {
  margin-top: 26px;
}

/* MODAL & FORM */
/* //////////// */

/* Modal */

.modal-form {
  border-radius: 5px;
  background-color: #db8876;
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  box-shadow: -3px 10px 20px 10px rgba(145, 144, 144);
}

.modal-form header {
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 84px;
}

.modal-form header img {
  cursor: pointer;
}

.modal-form header h2 {
  width: 450px;
  height: 84px;
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  color: black;
}

.modal-form header h2 p {
  width: 535px;
  height: 84px;
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  color: black;
}
/* .modal-form header h2 {
  width: 670px;
  height: 900px;
  padding: 15px 8%;
  margin: 62px auto;
} */

/* Form */

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  padding: 11px 0;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#messageUser {
  height: 170px;
}

/* HEADER BAND */
/* /////////// */
/* Img Portrait */

.photographer-header {
  /* display: grid; */
  width: 100%;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: auto; */
  /* gap: 50px; */
}

.main-photographer-html div div {
  display: flex;
  justify-content: space-around;
}

.main-photographer-html div div section {
  width: 1240px;
  height: 313px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  /* width: max-content; */
}

.main-photographer-html div div section img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 200px;
  object-fit: cover;
  box-shadow: 0px 0px 4px 4px #f1eded;
}

.main-photographer-html div div section article {
  width: 515px;
  display: flex;
  flex-direction: column;
}

div section article h1 {
  position: relative;
  font-size: 64px;
  line-height: 83px;
  color: #d3573c;
}

div section article p {
  position: relative;
  font-size: 24px;
  line-height: 31px;
  color: #901c1c;
}

div section article .text-color {
  position: relative;
  margin-top: 19px;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}

.main-photographer-html div div section a {
  display: flex;
}

/* PHOTOS STACK (setPhotosCardDOM */

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Have to use a class here because I have to recreate
the correct DOM structure (figcaption included in figure) */
.dimensions-photos-grapher-page {
  display: flex;
  /* width: 150px; */
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.img-video-photos-stack {
  /* 100% or 451px for final result */
  /* width: 451px; */
  /* width: 100%; */
  /* Temporary 30% to work with */
  width: 30%;
  object-fit: cover;
  object-position: 50% 17%;
}

.position-fig-grapher-page {
  width: 350px;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin: 0;
  padding-left: 6px;
  font-size: 20px;
}

.h2-photos-stack {
  width: 292px;
  white-space: nowrap;
  max-width: 292px;
  height: 31px;
  color: #901c1c;
  display: flex;
  justify-items: start;
  align-items: center;
}

.center-likes-heart {
  width: 60px;
  margin: 0;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

a figcaption div .fas.fa-heart {
  color: #901c1c;
  font-size: 20px;
  cursor: pointer;
}

a figcaption div .fas.fa-heart {
  transition: transform ease-in-out 0.3s;
}

a figcaption div .fas.fa-heart:hover {
  transform: scale(1.2);
}

a figcaption div .fas.fa-heart:active {
  color: #db8876;
}

a figcaption .likes {
  width: 90px;
  height: 31px;
  color: #901c1c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.photos-displaying {
  width: 1240px;
  padding: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 95px;
  padding: 100px;
}

.liked {
  color: black;
}

/* FORM MODAL */
/* ////////// */

.form-contact.show {
  display: block;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #e5e5e5;
}

.form-contact.hidden {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.content-modal {
  height: auto;
  width: 100%;
  margin: 5% 0;
}

/* Displays error messages via JS */
.errorDiv {
  margin: 0;
  padding: 12px 0;
  height: auto;
  width: 100%;
  font-size: 24px;
  color: red;
}

.errorColor {
  border: inset red 4px;
}
/* END : Displays error messages via JS */

/* The closes and their befores/afters */
.close-modal-form {
  background-color: #f000;
  display: inline;
  position: relative;
  top: -10px;
  left: 0px;
  width: 80px;
  height: 80px;
  font-size: 16px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  border: none;
}

.close-modal-form::before,
.close-modal-form::after {
  position: absolute;
  left: 36px;
  top: 4px;
  content: '';
  width: 8px;
  height: 72px;
  background-color: #fff;
}
.close-modal-form::before {
  transform: rotate(45deg);
}
.close-modal-form::after {
  transform: rotate(-45deg);
}

/* DROP-DOWN / SORT SELECT */
/* /////////////////////// */

.drop-down-container {
  width: 1240px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 32px 32px 32px 0px;
}

.drop-down-title-do {
  align-self: flex-start;
  margin: 16px;
  font-size: 18px;
  font-weight: 900;
}

.select-box {
  display: flex;
  flex-direction: column;
  width: 170px;
}

.select-box .options-container {
  display: flex;
  flex-direction: column;
  background-color: #911c1c;
  color: white;
  border-radius: 0 0 5px 5px;
  width: 100%;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
}

.select-box .option,
.select-box .selected {
  padding: 12px 24px;
  cursor: pointer;
  background-color: #911c1c;
  color: white;
}

.icon-chevron-container {
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 0;
}

.select-box .selected:hover {
  background-color: #d3573c;
}

.select-box .option:hover {
  background-color: #d3573c;
}

.select-box .option .radio {
  display: none;
}

.selected .selected-popularite .radio {
  display: none;
}

.select-box .label-titre,
.select-box .label-date,
.select-box .selected {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
}
.select-box .label-popularite {
  cursor: pointer;
}

.select-box .selected.border-radius {
  border-radius: 5px;
}

.fas.fa-angle-down {
  font-size: 24px;
}

.fas.fa-angle-down.reverse-chevron {
  transform: rotate(180deg);
}

.select-box .option {
  border-top: 1px solid white;
}

/* LIGHTBOX MODAL */
/*////////////////*/

.lightBox-modal {
  width: 1000px;
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Picture & Displaying */
.position-content-lightBox-modal {
  width: 100%;
  margin: auto;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  /* background-color: #db8876; */
}

.content-lightBox {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 144, 144, 0.75);
  backdrop-filter: blur(1px);
}

.content-lightBox.hidden {
  display: none;
}
.content-lightBox.show {
  display: block;
}

.as-img.hidden {
  display: none;
}
.as-img.show {
  display: flex;
}

.as-video.hidden {
  display: none;
}
.as-video.show {
  display: flex;
}

.injected-content-lightBox {
  display: flex;
  justify-content: center;
}

.injected-content-lightBox.hidden {
  display: none;
}
.injected-content-lightBox.show {
  display: flex;
}

.position-content-lightBox-modal.hidden {
  display: none;
}
.position-content-lightBox-modal.show {
  display: flex;
}

.flex-lightBox {
  width: 1000px;
  /* height: 400px; */
  display: flex;
  flex-direction: row;
}

.media-name-column {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
}

div div div figure div div img,
div div div figure div div video {
  /* width: 1050px;
  height: 900px; */
  /* width: 800px;
  height: 720px; */
  background-color: #c4c4c4;
  border-radius: 5px;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  box-shadow: 2px 0 #c4c4c4;
  cursor: pointer;
}

div div div figure div div img {
  width: 50%;
}
div div div figure div div video {
  width: 90%;
}

/* THE CLOSES-LIGHTBOXE */

.positionning-cross {
  position: absolute;
  top: 60px;
  right: 380px;
  width: 36px;
  height: 36px;
}

.close-lightbox {
  background-color: #f000;
  color: #911c1c;
  display: inline;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  font-size: 16px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  border: none;
}

.close-lightbox::before,
.close-lightbox::after {
  position: absolute;
  left: 10px;
  top: 0px;
  content: '';
  height: 33px;
  width: 5px;
  background-color: #901c1c;
  /* color: #901c1c; */
}
.close-lightbox::before {
  transform: rotate(45deg);
}
.close-lightbox::after {
  transform: rotate(-45deg);
}

/* ARROWS */

/* Arrow previous */
.previous {
  background: transparent;
  border: none;
  z-index: 50;
}
.fas.fa-angle-left {
  background: transparent;
  color: #911c1c;
  font-size: 48px;
}

/* Arrow next */
.next {
  background: transparent;
  border: none;
  z-index: 50;
}
.fas.fa-angle-right {
  background: transparent;
  color: #911c1c;
  font-size: 48px;
}

/* GALLERY */

.body-photographer-html :nth-child(5) section a img {
  width: 100%;
  /* object-position: center; */
}
.body-photographer-html :nth-child(5) section a video {
  width: 100%;
  /* object-position: center; */
}

/* INSERT */

footer {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  right: 11.3%;
  /* left: 1128px; */
  bottom: 0;
  color: black;
  background-color: #db8876;
  border-radius: 6px 6px 0 0;
}

footer div {
  width: 188px;
  height: 90px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

footer div div {
  width: 188px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

footer div div span,
footer div div i {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

footer div div .fas.fa-heart {
  padding-left: 6px;
  background: #db8876;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

/* ACCESSIBILITE INVISIBLE */
.acc-invisible {
  width: 0;
  height: 0;
  font-size: 0;
}
