/*  */

body {
  width: 1440px;
  margin: 0;
}

main {
  width: 1440px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact-button,
.submit-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal */

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
/* .modal header h2 {
  width: 670px;
  height: 900px;
  padding: 15px 8%;
  margin: 62px auto;
} */

/* Form */

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#messageUser {
  height: 170px;
}

/* HEADER BAND */
/* Img Portrait */

.photographer-header {
  /* display: grid; */
  width: 100%;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: auto; */
  /* gap: 50px; */
}

main div div {
  width: 94%;
  margin: 0 3%;
  display: flex;
  justify-content: space-around;
}

main div div section {
  width: 1240px;
  height: 313px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  /* width: max-content; */
}

main div div section img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 200px;
  object-fit: cover;
  box-shadow: 0px 0px 4px 4px #f1eded;
}

main div div section article {
  width: 515px;
  display: flex;
  flex-direction: column;
}

div section article h1 {
  position: relative;
  font-size: 64px;
  line-height: 83px;
  color: #d3573c;
}

div section article p {
  position: relative;
  font-size: 24px;
  line-height: 31px;
  color: #901c1c;
}

div section article .text-color {
  position: relative;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}

main div div section a {
  display: flex;
}

/* PHOTOS STACK */

main div section a .dimensions-photos-grapher-page {
  display: flex;
  width: 350px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
}

main div section a figure img {
  width: 451px;
  object-fit: cover;
  object-position: 50% 17%;
}

main div section a .position-fig-grapher-page {
  width: 350px;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

main div section a figcaption h2 {
  width: 240px;
  height: 31px;
  color: #901c1c;
  display: flex;
  justify-items: start;
  align-items: center;
}

main div section a figcaption .likes {
  width: 90px;
  height: 31px;
  color: #901c1c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.photos-displaying {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 95px;
  padding: 100px;
}

/* MODAL */

.hidden {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

/* The closes and their befores/afters */
.close {
  background-color: #f000;
  display: inline;
  /* position: absolute; */
  right: 15px;
  /* top: 15px; */
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  border: none;
}
.close::before,
.close::after {
  position: absolute;
  left: 15px;
  top: 0px;
  content: '';
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}
/* END : The closes and their befores/afters */

/* .submit-button {
  background: #fe142f;
  display: block;
  margin: 10% auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
} */
