@import url('photographer.css');

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  color: transparent;
}

.div-center-whole-home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 90px 0 65px;
}

a:focus {
  box-shadow: 10px 10px 10px 10px rebeccapurple;
  border: 5px solid seagreen;
}

input:focus {
  box-shadow: 10px 10px 10px 10px rebeccapurple;
  border: 5px solid seagreen;
}

button:focus {
  box-shadow: 10px 10px 10px 10px rebeccapurple;
  border: 5px solid seagreen;
}

video:focus, img:focus, 
h1:focus, h2:focus, 
h3:focus, h4:focus, 
div:focus, label:focus {
  box-shadow: 10px 10px 10px 10px rebeccapurple;
  border: 5px solid seagreen;
}


body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

header {
  width: 1240px;
  height: 90px;
  margin: 40px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 36px;
  margin-right: 60px;
  color: #901c1c;
}

.logo {
  height: 50px;
  padding-left: 60px;
}

.main-home-page {
  width: 1285px;
  margin: 0 90px 0 65px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.17fr;
  gap: 70px;
  margin: 60px 0 0 50px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article a h2 {
  margin: 0.18rem 0;
  font-size: 36px;
  font-weight: 500;
  color: #d3573c;
}

.photographer_section article h3 {
  font-weight: 600;
}
.photographer_section article h4 {
  font-weight: 600;
}

.photographer_section article a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photographer_section article a img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0px 0px 4px 4px #f1eded;
}
